<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to('質問掲示板', '/questions/index') %>
        <% else %>
          <%= link_to('質問掲示板', '/') %>
        <% end %>
      </div>

      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name + ' さん', "/users/#{@current_user.id}", class: active_class("/users/#{@current_user.id}")) %>
          </li>
          <li>
            <%= link_to('質問一覧', '/questions/index', class: active_class('/questions/index')) %>
          </li>
          <li>
            <%= link_to('質問する', '/questions/new', class: active_class('/questions/new')) %>
          </li>
          <li>
            <%= link_to('ユーザー一覧', '/users/index', class: active_class('/users/index')) %>
          </li>
          <li>
            <%= link_to('ログアウト', '/logout', method: :post, data: {confirm: "【確認】\nログアウトしますか？"}) %>
          </li>
        <% else %>
          <li>
            <%= link_to('ログイン', '/login', class: active_class('/login')) %>
          </li>
          <li>
            <%= link_to('新規登録', '/signup', class: active_class('/signup')) %>
          </li>
        <% end %>
        <li>
            <%= link_to('ヘルプ', '/help', class: active_class('/help')) %>
        </li>
      </ul>

      <%# responsive-design %>
      <div class="menu-icon">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
    </header>

    <div class="nav-overlap-background"></div>

    <%# z-index指定時にスタックコンテキストが異なるため<header>タグ内から移動 %>
    <div class="nav-overlap">
        <ul class="nav-menus">
          <% if @current_user %>
            <li>
              <%= link_to(@current_user.name + ' さん', "/users/#{@current_user.id}", class: active_class("/users/#{@current_user.id}")) %>
            </li>
            <li>
              <%= link_to('質問一覧', '/questions/index', class: active_class('/questions/index')) %>
            </li>
            <li>
              <%= link_to('質問する', '/questions/new', class: active_class('/questions/new')) %>
            </li>
            <li>
              <%= link_to('ユーザー一覧', '/users/index', class: active_class('/users/index')) %>
            </li>
            <li>
              <%= link_to('ログアウト', '/logout', method: :post, data: {confirm: "【確認】\nログアウトしますか？"}) %>
            </li>
          <% else %>
            <li>
              <%= link_to('ログイン', '/login', class: active_class('/login')) %>
            </li>
            <li>
              <%= link_to('新規登録', '/signup', class: active_class('/signup')) %>
            </li>
          <% end %>
          <li>
              <%= link_to('ヘルプ', '/help', class: active_class('/help')) %>
          </li>
        </ul>
      </div>
    </div>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

    <div><%= debug(params) if Rails.env.development? %></div>
  </body>
</html>

<style>
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 100px;
  margin-left: 1em;
  position: fixed;
  bottom:0;
}
</style>